<div class="max-w-4xl mx-auto bg-[#4C2D16] text-white p-6 rounded-lg shadow-lg">
  <h2 class="text-2xl font-bold mb-4 border-b border-[#c49a6c] pb-2">Productos</h2>
  
  <form (ngSubmit)="saveProducto()" class="mb-6 flex flex-col space-y-4">
    <input 
      type="text" 
      [(ngModel)]="formData.nombre" 
      name="nombre" 
      placeholder="Nombre del producto" 
      required
      class="w-full p-2 rounded bg-[#3e2616] border border-[#c49a6c] text-white placeholder-[#c49a6c] focus:outline-none focus:ring-2 focus:ring-[#c49a6c]"
    >
    
    <textarea 
      [(ngModel)]="formData.descripcion" 
      name="descripcion" 
      placeholder="Descripción" 
      required
      class="w-full p-2 rounded bg-[#3e2616] border border-[#c49a6c] text-white placeholder-[#c49a6c] focus:outline-none focus:ring-2 focus:ring-[#c49a6c]"
    ></textarea>
    
    
    <select 
      [(ngModel)]="formData.id_categoria" 
      name="id_categoria" 
      required
      class="w-full p-2 rounded bg-[#3e2616] border border-[#c49a6c] text-white focus:outline-none focus:ring-2 focus:ring-[#c49a6c]"
    >
      <option value="" selected>Seleccione una categoría</option>
      <option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.nombre }}</option>
    </select>
    
    <select 
      [(ngModel)]="formData.id_marca" 
      name="id_marca" 
      required
      class="w-full p-2 rounded bg-[#3e2616] border border-[#c49a6c] text-white focus:outline-none focus:ring-2 focus:ring-[#c49a6c]"
    >
      <option value="" selected>Seleccione una marca</option>
      <option *ngFor="let marca of marcas" [value]="marca.id">{{ marca.nombre }}</option>
    </select>
    
        
    <div class="flex items-center gap-2 justify-between">
      <label for="precio" class="text-white">Precio:</label>
      <input 
        id="precio"
        type="number" 
        [(ngModel)]="formData.precio" 
        name="precio" 
        required
        class="p-2 rounded bg-[#3e2616] border border-[#c49a6c] text-white placeholder-[#c49a6c] focus:outline-none focus:ring-2 focus:ring-[#c49a6c] w-full"
        >
    </div>

    <button 
      type="submit" 
      class="w-full bg-[#c49a6c] text-[#2d1b0d] py-2 cursor-pointer rounded font-semibold hover:bg-[#a3784d] transition"
    >
      {{ selectedProducto ? 'Actualizar' : 'Crear' }}
    </button>
    <button 
    *ngIf="selectedProducto"
    type="button" 
    (click)="cancelEditProducto()" 
    class="w-full bg-gray-500 text-white py-2 cursor-pointer rounded font-semibold hover:bg-gray-600 transition"
  >
    Cancelar
  </button>
  </form>

  <ul class="space-y-3">
    <li *ngFor="let producto of productos" class="flex justify-between items-center bg-[#3e2616] p-3 rounded-lg">
      <span class="text-lg font-semibold">
        {{ producto.nombre }} - {{ producto.descripcion }} - ${{ producto.precio }}
      </span>
      <div class="space-x-2">
        <button 
          (click)="editProducto(producto)" 
          class="px-3 py-1 bg-[#c49a6c] text-[#2d1b0d] cursor-pointer rounded hover:bg-[#a3784d] transition"
        >
          Editar
        </button>
        <button 
          (click)="deleteProducto(producto.id)" 
          class="px-3 py-1 bg-red-600 text-white cursor-pointer rounded hover:bg-red-700 transition"
        >
          Eliminar
        </button>
      </div>
    </li>
  </ul>
</div>
